<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #guest>
  <mat-toolbar color="primary">
    <span>Connectez-vous !!</span>
    <span class="toolbar-filler"></span>
    <button color="accent" mat-raised-button (click)="auth.facebooklogin()">Login</button>
  </mat-toolbar>
</ng-template>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <mat-toolbar color="primary">
      <span>Listes pour {{user.displayName}}</span>
      <span class="toolbar-filler"></span>
      <img
        src={{user.photoURL}}
        alt=""
        class="nav-bar-user-picture"
        [matMenuTriggerFor]="userMenu"
        [matMenuTriggerData]="{name: user.displayName}">
    </mat-toolbar>
    <mat-menu #userMenu="matMenu" yPosition="below" [overlapTrigger]="false">
      <ng-template matMenuContent let-name="name">
        <button mat-menu-item (click)="auth.logout()">
          logout {{name}}
        </button>
      </ng-template>
    </mat-menu>
  </div>
</ng-template>
